In [1]:
import pandas as pd
import numpy as np

print('Pandas version', pd.__version__)
print('Numpy version', np.__version__)

Pandas version 0.20.3
Numpy version 1.14.0

# Load Data

## Read in 2017-2018 Accountability Report (with 2016-2017 data)

#### Functions to load in data

In [2]:
def drop_first_two_rows(df):
    """
    Takes in a dataframe and drops the first two rows, returning a re-indexed dataframe
    """

    df.drop(df.index[:2], inplace=True)
    df.reset_index(drop=True, inplace=True)
    
    return df

In [3]:
def find_relevant_attributes(file, avg_attend_col, grad_rate_col):
    """
    Takes in a file with school attributes and returns a new dataframe with 
    the school id, school name, avg daily attendance, and graduation rates
    """
    school_id = file.iloc[:,0]
    school_name = file.iloc[:,1]
    avg_attend = file.iloc[:,avg_attend_col]
    grad_rate = file.iloc[:,grad_rate_col]
    
    schools = pd.DataFrame({'school_id': school_id, 
                        'school_name': school_name, 
                        'avg_daily_attend': avg_attend, 
                        'grad_rate': grad_rate})
    
    return schools

In [4]:
def fetch_school_data(filepath, sheetname, avg_attend_col, grad_rate_col):
    
    """
    Read in an excel doc sheet
    """
    
    assert type(avg_attend_col) == int, 'Please enter col position as integer'
    assert type(grad_rate_col) == int, 'Please enter col position as integer'
    
    file = pd.read_excel('../data/{}'.format(filepath), sheetname=sheetname)
    relevant_attributes = find_relevant_attributes(file, avg_attend_col, grad_rate_col)
    schools = drop_first_two_rows(relevant_attributes)
    
    return schools

#### Read in high school and combo schools, add a type column and concat together

In [5]:
high_schools = fetch_school_data(filepath='Accountability_SQRPratings_2017-2018_SchoolLevel.xls',
                                sheetname='High Schools (grds 9-12 only)',
                                avg_attend_col=56,
                                grad_rate_col=41)

high_schools['type'] = 'high_school'

In [6]:
combo_schools = fetch_school_data(filepath='Accountability_SQRPratings_2017-2018_SchoolLevel.xls',
                                sheetname='Combo Schools (grds PreK-12)',
                                avg_attend_col=129,
                                grad_rate_col=114)

combo_schools['type'] = 'combo_school'

In [11]:
alt_schools = fetch_school_data(filepath='Accountability_SQRPratings_2017-2018_SchoolLevel.xls',
                                sheetname='Option Schools',
                                avg_attend_col=31,
                                grad_rate_col=22)

alt_schools['type'] = 'alt_school'

In [12]:
alt_schools.head()

,avg_daily_attend,grad_rate,school_id,school_name,type
0,56.3,93,400123,YCCS - SCHOLASTIC ACHIEVEMENT,alt_school
1,63.4,98.1,400124,YCCS - MCKINLEY,alt_school
2,60.2,88.5,400125,YCCS - ASPIRA PANTOJA,alt_school
3,63.6,91.2,400126,YCCS - ASSOCIATION HOUSE,alt_school
4,70.9,91.1,400127,YCCS - AUSTIN CAREER,alt_school

In [13]:
schools = pd.concat([high_schools, combo_schools, alt_schools], ignore_index=True)

In [14]:
schools.sample(15)

,avg_daily_attend,grad_rate,school_id,school_name,type
1,90.5,71.4,400013,ASPIRA - EARLY COLLEGE HS,high_school
154,69.9,58.7,400136,YCCS - OLIVE HARVEY,alt_school
155,77.9,97.3,400137,LITTLE BLACK PEARL HS,alt_school
5,94.4,88.2,400051,NOBLE - NOBLE HS,high_school
111,91.1,86.9,610547,SOUTH SHORE INTL HS,high_school
151,48.3,99.3,400133,YCCS - INNOVATIONS,alt_school
49,87.2,54.3,609705,FENGER HS,high_school
67,87.4,58.8,609733,SULLIVAN HS,high_school
143,63.4,98.1,400124,YCCS - MCKINLEY,alt_school
57,89.7,72.2,609715,KELLY HS,high_school
160,60.7,77.9,400145,YCCS - YOUTH CONNECTION,alt_school
54,83.7,46.9,609711,HARPER HS,high_school
64,84.2,66.6,609729,SCHURZ HS,high_school
147,60.6,97.4,400128,YCCS - CCA ACADEMY,alt_school
132,92,96.8,609726,BROOKS HS,combo_school

In [26]:
print(len(schools))

# Pickle school accountability data
schools.to_pickle('../data/accountability_data.pkl')

186

## Read in 2016-2017 School Profile Info to compare

In [27]:
profiles = pd.read_csv('../data/Chicago_Public_Schools_-_School_Profile_Information_SY1617.csv', encoding = "ISO-8859-1")

In [28]:
profiles.head()

,School_ID,Legacy_Unit_ID,Finance_ID,Short_Name,Long_Name,School_Type,Primary_Category,Is_High_School,Is_Middle_School,Is_Elementary_School,...,Third_Contact_Name,Fourth_Contact_Title,Fourth_Contact_Name,Fifth_Contact_Title,Fifth_Contact_Name,Sixth_Contact_Title,Sixth_Contact_Name,Seventh_Contact_Title,Seventh_Contact_Name,Location
0,610158,5720,29271,SAYRE,Harriet E Sayre Elementary Language Academy,Neighborhood,ES,N,Y,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1850 N NEWLAND AVE\rChicago, Illinois 60707\r(..."
1,610282,7040,26301,MCNAIR,Ronald E McNair Elementary School,Neighborhood,ES,N,Y,Y,...,Tasia White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4820 W WALTON ST\rChicago, Illinois 60651\r(41..."
2,609996,4020,23821,HOLDEN,Charles N Holden Elementary School,Neighborhood,ES,N,Y,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1104 W 31ST ST\rChicago, Illinois 60608\r(41.8..."
3,400079,3344,66395,ACERO - ZIZUMBO,Acero Charter Schools - SPC Daniel Zizumbo,Charter,ES,N,Y,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4248 W 47TH ST\rChicago, Illinois 60632\r(41.8..."
4,610089,5020,24621,MURPHY,John B Murphy Elementary School,Neighborhood,ES,N,Y,Y,...,Laura Aguirre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3539 W GRACE ST\rChicago, Illinois 60618\r(41...."

In [19]:
# Left join to high schools
schools_pr = pd.merge(schools, profiles, how='left', left_on='school_id', right_on='School_ID')

In [20]:
schools_pr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 0 to 185
Data columns (total 96 columns):
avg_daily_attend                           186 non-null object
grad_rate                                  172 non-null object
school_id                                  186 non-null object
school_name                                186 non-null object
type                                       186 non-null object
School_ID                                  182 non-null float64
Legacy_Unit_ID                             182 non-null float64
Finance_ID                                 182 non-null float64
Short_Name                                 182 non-null object
Long_Name                                  182 non-null object
School_Type                                182 non-null object
Primary_Category                           182 non-null object
Is_High_School                             182 non-null object
Is_Middle_School                           182 non-null object
Is_Elementary_School                       182 non-null object
Is_Pre_School                              182 non-null object
Summary                                    181 non-null object
Administrator_Title                        182 non-null object
Administrator                              182 non-null object
Secondary_Contact_Title                    152 non-null object
Secondary_Contact                          149 non-null object
Address                                    182 non-null object
City                                       182 non-null object
State                                      182 non-null object
Zip                                        182 non-null float64
Phone                                      182 non-null float64
Fax                                        179 non-null float64
CPS_School_Profile                         182 non-null object
Website                                    179 non-null object
Facebook                                   90 non-null object
Twitter                                    92 non-null object
Youtube                                    22 non-null object
Pinterest                                  4 non-null object
Attendance_Boundaries                      182 non-null object
Grades_Offered_All                         182 non-null object
Grades_Offered                             182 non-null object
Student_Count_Total                        182 non-null float64
Student_Count_Low_Income                   182 non-null float64
Student_Count_Special_Ed                   182 non-null float64
Student_Count_English_Learners             182 non-null float64
Student_Count_Black                        182 non-null float64
Student_Count_Hispanic                     182 non-null float64
Student_Count_White                        182 non-null float64
Student_Count_Asian                        182 non-null float64
Student_Count_Native_American              182 non-null float64
Student_Count_Other_Ethnicity              182 non-null float64
Student_Count_Asian_Pacific_Islander       182 non-null float64
Student_Count_Multi                        182 non-null float64
Student_Count_Hawaiian_Pacific_Islander    182 non-null float64
Student_Count_Ethnicity_Not_Available      182 non-null float64
Statistics_Description                     182 non-null object
Demographic_Description                    182 non-null object
ADA_Accessible                             182 non-null object
Dress_Code                                 182 non-null object
PreK_School_Day                            3 non-null object
Kindergarten_School_Day                    4 non-null object
School_Hours                               172 non-null object
Freshman_Start_End_Time                    104 non-null object
After_School_Hours                         92 non-null object
Earliest_Drop_Off_Time                     111 non-null object
Classroom_Languages                        140 non-null object
Bilingual_Services                         152 non-null object
Refugee_Services                           128 non-null object
Title_1_Eligible                           168 non-null object
PreSchool_Inclusive                        0 non-null object
Preschool_Instructional                    0 non-null object
Significantly_Modified                     42 non-null object
Hard_Of_Hearing                            5 non-null object
Visual_Impairments                         2 non-null object
Transportation_Bus                         157 non-null object
Transportation_El                          129 non-null object
Transportation_Metra                       39 non-null object
School_Latitude                            182 non-null float64
School_Longitude                           182 non-null float64
Average_ACT_School                         169 non-null float64
Mean_ACT                                   182 non-null float64
College_Enrollment_Rate_School             158 non-null float64
College_Enrollment_Rate_Mean               182 non-null float64
Graduation_Rate_School                     121 non-null float64
Graduation_Rate_Mean                       182 non-null float64
Overall_Rating                             182 non-null object
Rating_Status                              180 non-null object
Rating_Statement                           182 non-null object
Classification_Description                 182 non-null object
School_Year                                182 non-null object
Third_Contact_Title                        88 non-null object
Third_Contact_Name                         87 non-null object
Fourth_Contact_Title                       61 non-null object
Fourth_Contact_Name                        60 non-null object
Fifth_Contact_Title                        37 non-null object
Fifth_Contact_Name                         36 non-null object
Sixth_Contact_Title                        25 non-null object
Sixth_Contact_Name                         25 non-null object
Seventh_Contact_Title                      15 non-null object
Seventh_Contact_Name                       15 non-null object
Location                                   182 non-null object
dtypes: float64(28), object(68)
memory usage: 141.0+ KB

In [30]:
# the accountability report might not have actual 2016-2017 data, might be goal for 2018 based on actuals from past year?

schools_pr.loc[:,['grad_rate', 'Graduation_Rate_School', 'Graduation_Rate_Mean']].mean()

grad_rate                 76.126744
Graduation_Rate_School    72.891736
Graduation_Rate_Mean      73.500000
dtype: float64